In [1]:
import warnings
warnings.filterwarnings("ignore", message="numpy.dtype size changed")
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import Image
from time import sleep
import os
import numpy as np
from sklearn.metrics import classification_report

from amb_sdk.sdk import DarwinSdk

In [2]:
ds = DarwinSdk()
ds.set_url('https://amb-demo-api.sparkcognition.com/v1#/')
status, msg = ds.auth_login_user('USERNAME', 'PASSWORD')

if not status:
    print(msg)

405: METHOD NOT ALLOWED - <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>

In [3]:
data = pd.read_csv("../Data/Speed_Dating_Clean.csv")

In [4]:
data.head()

,Unnamed: 0,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,importance_same_race,...,yoga,interests_correlate,expected_happy_with_sd_people,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match
0,0,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,1.0,0.14,3.0,4.0,7.0,6.0,0.0,1,0,0
1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,1.0,0.54,3.0,4.0,7.0,5.0,1.0,1,0,0
2,2,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,2.0,...,1.0,0.16,3.0,4.0,7.0,0.0,1.0,1,1,1
3,3,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,2.0,...,1.0,0.61,3.0,4.0,7.0,6.0,0.0,1,1,1
4,4,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,2.0,...,1.0,0.21,3.0,4.0,6.0,6.0,0.0,1,1,1

In [5]:
data.race.value_counts()

european/caucasian-american              4666
asian/pacific islander/asian-american    1966
latino/hispanic american                  657
other                                     517
black/african american                    414
Name: race, dtype: int64

In [6]:
data.describe()

,Unnamed: 0,age,age_o,d_age,samerace,importance_same_race,importance_same_religion,pref_o_attractive,pref_o_sincere,pref_o_intelligence,...,yoga,interests_correlate,expected_happy_with_sd_people,expected_num_matches,like,guess_prob_liked,met,decision,decision_o,match
count,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,...,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000,8220.000000
mean,4212.978467,26.353830,26.359971,3.837348,0.400973,3.786861,3.658394,22.442004,17.376326,20.255900,...,4.345742,0.196010,5.530262,2.760255,5.963954,5.020073,0.047567,0.419830,0.419465,0.164234
std,2416.638105,3.559995,3.554904,3.594644,0.490125,2.847048,2.808630,12.582119,7.039421,6.816667,...,2.717269,0.303539,1.730610,2.535208,2.068454,2.299052,0.276949,0.493561,0.493501,0.370510
min,0.000000,18.000000,18.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,-0.830000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2136.750000,24.000000,24.000000,1.000000,0.000000,1.000000,1.000000,15.000000,15.000000,17.390000,...,2.000000,-0.020000,5.000000,1.000000,5.000000,4.000000,0.000000,0.000000,0.000000,0.000000
50%,4191.500000,26.000000,26.000000,3.000000,0.000000,3.000000,3.000000,20.000000,18.370000,20.000000,...,4.000000,0.210000,6.000000,2.000000,6.000000,5.000000,0.000000,0.000000,0.000000,0.000000
75%,6322.250000,28.000000,28.000000,5.000000,1.000000,6.000000,6.000000,25.000000,20.000000,23.810000,...,7.000000,0.430000,7.000000,4.000000,7.000000,7.000000,0.000000,1.000000,1.000000,0.000000
max,8377.000000,55.000000,55.000000,32.000000,1.000000,10.000000,10.000000,100.000000,60.000000,50.000000,...,10.000000,0.910000,10.000000,18.000000,10.000000,10.000000,8.000000,1.000000,1.000000,1.000000

In [7]:
status, dataset = ds.upload_dataset("../Data/Speed_Dating_Clean.csv")

if not status:
    print(dataset)

405: METHOD NOT ALLOWED -